In [ ]:
print('Ini Kelas Algoritma')

print("Ini Kelas Algoritma")

print("I dont't understand what are you saying")

print('He is such a "GENIUS"')

In [ ]:
jumlah_mahasiswa = 100
uang_di_saku = 1000000

print(jumlah_mahasiswa)

print(uang_di_saku)

print(jumlah_mahasiswa*uang_di_saku)

In [ ]:
print ('hello_kawan')

nama_depan = 'candra '

nama_tengah = 'arta'

nama_belakang = ' wiguna_CAWI'

print (nama_depan + nama_tengah + nama_belakang)

In [ ]:
berat_badan = input('berapakah berat anda dalam kg? ' )
print ("Berat badan anda adalah " +  berat_badan + " kg")

print(berat_badan)

nama = input("siapa nama panggilan anda? ")
hobi_saat_ini = input('apa hobi anda saat ini? ') 
print('semangat_menjalani' + hobi_saat_ini +"nya ngab, " + nama + "!")

nama = input("siapa nama panggilan anda? ")
nama_pacar = input('siapa nama pacar anda saat ini? ')

print('kasihan' + nama_pacar + "nya ngabers, " + nama + "!!!")

In [ ]:
uang_di_dompet = input('berapakah uang di dompet anda? ')
uang_di_tabungan = input("berpakah uang di tabungan anda? ")
total_uang = int(uang_di_dompet) + int(uang_di_tabungan)
print("total uang anda saat ini adalah Rp "+ str(total_uang))

In [ ]:
nama = "candra"
jabatan = "mahasiswa "
hobi = "menyanyi"
instansi = "universitas udayana"
print (nama + " adalah seorang " + jabatan + "yang mempunyai hobi " + hobi + "," + "bersekolah di " + instansi + "." )

print (f'{nama} adalah seorang {jabatan} di {instansi}.')

print(f"{nama} mempunyai hobi {hobi} yang bersekolah di {instansi}.")

print(f" {instansi} adalah tempat {nama} menuntut ilmu. disana {nama} berada di falkutas MIPA.")

In [ ]:
kelas = 'ini matakuliah algoritma '

print(kelas [0:3])

print (kelas[0:-1])

print(kelas [5:-1])

print(kelas[2:-1:3])

print(kelas[:-3])

print(kelas[:1])

print(kelas[1:])

print(kelas[:])

print(kelas[:-1])

print(kelas[:1])

print(kelas[:2])

print(kelas[:3])

print(kelas[:4])

print(kelas[:5])

print(kelas[1:])

print(kelas[:-1])

print (kelas[:-2])

In [ ]:
judul = "tetep mekenyem"

print(len(judul))

judul.upper()

judul.lower()

judul.find("mekenyem")

judul.find("tetep")

judul.replace("tetep", "bidadari")

judul.replace("mekenyem", "kamu")

print ("mekenyem" in judul)

print("tetep" in judul)

judul.find("Tetep")

In [ ]:
print (2+3)
print (2-3)
print (2*3)
print (7/3)
print (7//3)
print (7%3)
print (2**3)

x=3
x+=1
print (x)
x-=2
print (x)
x*=3
print (x)

print (4+6)
print (6-4)
print (4*3)
print (8/3)
print (8//3)
print (8%3)
print (2**3)

x=3
x+=1
print (x)
x-=2
print (x)
x*=3
print (x)

In [ ]:
x= 2>3
print(x)
x= 3<2
print (x)
x = 2 >=3
print (x)
x = 3 <=2
print (x)
x=3 == 4
print (x)
x=3 !=3
print (x)

In [ ]:
x= 3>2
print(x)
x= 2<3
print (x)
x = 3 >=2
print (x)
x = 3 <=3
print (x)
x=3 == 3
print (x)
x=3 !=4
print (x)

In [ ]:
buah_manggis = 10
buah_mangga = 15
print (buah_manggis > 8 and buah_mangga < 20)

print (buah_manggis > 8 or buah_mangga < 20)

print (buah_manggis < 8 and buah_mangga > 20)

print (not (buah_manggis < 8 and buah_mangga > 20))

In [ ]:
buah_sirsak = 19
buah_salak = 27
print (buah_sirsak > 12 and buah_salak < 30)

print (buah_sirsak > 12 or buah_salak < 30)

print (buah_sirsak < 12 and buah_salak > 30)

print (buah_sirsak > 12 and buah_salak > 30)

In [ ]:
nilai = float(input("Nilai anda adalah"))
if nilai >=80:
    print ("Anda mendapatkan nilai A")
    print("Bagus sekali, selamat!")
if nilai < 80 and nilai >= 70:
    print ("Anda mendapatkan nilai B")
    print("Tingkatkan prestasimu!")
if nilai >= 60 and nilai < 70:
    print ("Anda mendapatkan nilai C")
    print("Tingkatkan semangatmu lagi!")
if nilai >= 50 and nilai < 60:
    print ("Anda mendapatkan nilai D")
    print("Ulang lagi tahun depan!")
if nilai < 50:
    print ("Anda mendapatkan nilai E")
    print("Kecewa berat!")

In [ ]:
nilai = float(input("Nilai anda adalah"))
if nilai >=80:
    print ("Anda mendapatkan nilai A")
    print("Bagus sekali, selamat!")
elif nilai >= 70:
    print ("Anda mendapatkan nilai B")
    print("Tingkatkan prestasimu!")
elif nilai >= 60:
    print ("Anda mendapatkan nilai C")
    print("Tingkatkan semangatmu lagi!")
elif nilai >= 50:
    print ("Anda mendapatkan nilai D")
    print("Ulang lagi tahun depan!")
else:
    print ("Anda mendapatkan nilai E")
    print("Kecewa berat!")

In [ ]:
tinggi = float(input("Berapakah tinggi anda?"))
cm_atau_inci = input ("Tingginya dalam cm atau inci? ")

if cm_atau_inci.upper() == 'CM':
    tinggi = tinggi*0.393701
    print("Tinggi anda adalah " + str(tinggi) + " inci")
elif cm_atau_inci.upper() == 'INCI':
    tinggi = tinggi/0.393701
    print(f"Tinggi anda adalah {tinggi} cm")

In [ ]:
a = 0
while a < 5:
    print ("angka " + str(a)+" masih dibawah 5")
    a += 1

In [ ]:
a = 0
while a < 10 :
    print (a* '*')
    a += 1